body {
    font-family: "Open Sans";
}

#main {
    margin: 12px 20px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}


.letter {
    margin-bottom: 36px;
}

.letter p {
    font-size: 24px;
    margin: 0 0 2px 0;
    color: #666;
}

.bar-container {
    height: 10px;
    margin: 0;
    width: 400px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.bar {
    float: left;
    width: 0;
    height: 100%;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
}

.letter.high-frequency .bar {
    background-color: #02458e;
}

.letter.mid-frequency .bar {
    background-color: #378ac4;
}

.letter.low-frequency .bar {
    background-color: #8ac0df;
}