

body {
    font-family: "Open Sans";
}

#main {
    margin: 10px 20px;
}

text.label {
    text-anchor: middle;
    font-size: 11px;
    fill: #555;
    font-family: sans-serif;
}

.axis text {
    fill: #555;
}

.axis line,
.axis path {
    stroke: #555;
}

text.title {
    text-anchor: middle;
    font-size: 14px;
    fill: #333;
}