body {
    font-family: "Open Sans";
}

#main {
    margin: 10px 20px;
}

.skill {
    margin-bottom: 24px;
}

.skill p {
    font-size: 14px;
    margin: 0 0 6px 0;
    color: #666;
}

#skill-html .bar {
    background-color: #5cb85c;
}

#skill-css .bar {
    background-color: #337ab7;
}

#skill-javascript .bar {
    background-color: #d9534f;
}

#skill-d3js .bar {
    background-color: #f6824e;
}

.bar-container {
    height: 20px;
    margin: 0;
    width: 600px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.bar {
    float: left;
    width: 0;
    height: 100%;
    background-color: #999;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
}